---
import Base from '../layouts/Base.astro';
const headline = 'Maximize skill, minimize budget';
const subheadline =
	'Our modern courses across a range of in-demand skills will give you the knowledge you need to live the life you want.';
const button = 'Get Started';
const coursesCard = 'Check out our most popular courses!';
const courses = [
	{
		title: 'Animation',
		description:
			'Learn the latest animation techniques to create stunning motion design and captivate your audience.',
		icon: 'icon-animation.svg',
	},
	{
		title: 'Design',
		description:
			'Create beautiful, usable interfaces to help shape the future of how the web looks.',
		icon: 'icon-design.svg',
	},
	{
		title: 'Photography',
		description:
			'Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos.',
		icon: 'icon-photography.svg',
	},
	{
		title: 'Crypto',
		description:
			'All you need to know to get started investing in crypto. Go from beginner to advanced with this 54 hour course.',
		icon: 'icon-crypto.svg',
	},
	{
		title: 'Business',
		description:
			'A step-by-step playbook to help you start, scale, and sustain your business without outside investment.',
		icon: 'icon-business.svg',
	},
];
---

<Base>
	<section aria-labelledby="headline">
		<header>
			<h1 id="headline">{headline}</h1>
			<p>{subheadline}</p>
			<a href="#" class="button bg-mango">{button}</a>
		</header>
		<img src="image-hero-desktop.png" alt="" />
	</section>
	<section aria-labelledby="courses-card">
		<article id="courses-card">
			<h2>{coursesCard}</h2>
		</article>
		{
			courses.map((course) => (
				<article>
					<img src={course.icon} alt="" />
					<h3>{course.title}</h3>
					<p>{course.description}</p>
					<a href="#">{button}</a>
				</article>
			))
		}
	</section>
</Base>
